/*Layout:
=================================*/

#owl-slider{
  margin-top: 3%;
}

#owl-slider .item img{
  display: block;
  width: 100%;
  height: auto;
}

#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #FFD500;
}

#progressBar{
  width: 100%;
  background: #EDEDED;
}

#main-content{
	margin-top: 5%;
}

html { 
    background: #E4E4E4  url('../img/cafe.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
      

