/*Layout:
=================================*/

#owl-demo .owl-item div{
  padding:5px;
  margin-top: 20px;
}
#owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#main-content{
	margin-top: 5%;
}

body{
	background: #E4E4E4 url('../img/cafe.jpg') no-repeat center;
	background-size: cover;
}