/*Layout:
=================================*/

#owl-slider{
  margin-top: 3%;
}

#owl-slider .item img{
  display: block;
  width: 100%;
  height: auto;
  border: groove 1em rgba(184, 102, 34, 0.9);
}

#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #FFD500;
}

#progressBar{
  width: 100%;
  background: #EDEDED;
}

#main-content{
	margin-top: 5%;
}


#footer {
background: #333;
padding: 1em;
margin-top: 7%;
color: #fff;
text-align: center;
font-size: 13px;
}

html { 
    background: #E4E4E4  url('../img/cafe.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
      

